@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  --default-padding: 1.6rem;
}
body,
input,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  --webkit-font-smoothing: antialiased;
}
#root {
  width: min(1120px, 90%);
  margin: 0 auto;
}
@media (min-width: 768px) {
  :root {
    --default-padding: 2.4rem;
  }
}
