.header {
  width: 100%;
  margin: 84px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 7px;
}

.header div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 1rem;
}
@media (min-width: 475px) {
  .header {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
}
